/* variable */
:root {
  font-family: "Raleway", sans-serif;
  --main-bg-color: #96c8e4;
  --main-sec-bg-color: #6699b3;
  --color-secondary-1: #4d819b;
  --color-secondary-2: #356982;
  --color-secondary-3: #007bb5;

  --main-sec-border-white: #ffff;
  --main-sec-border: 12px;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-bg-color);
  padding: 1rem;
}

main {
  width: 100%;
  height: 100%;
}

img {
  height: 100% !important;
  width: auto !important;
  object-fit: cover !important;
  position: relative !important;
}
button{
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: var(--main-sec-border);
  background-color: var(--main-bg-color);
  border: none;
  cursor: pointer ;
  
}

button:hover{
  background-color: var(--main-sec-bg-color);
  scale: 1.1;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-in ;
}
 
.sec {
  background-color: var(--main-sec-bg-color);
  border-radius: var(--main-sec-border);
  border:3px solid   var(--color-secondary-1);
}

.sec:hover{
  scale: 1.02;
  transition: all 0.3s ease-in ;
}

.sec.dragging {
  opacity: 0.5;
  border: 2px dashed #007bff;
}

.button {
  padding: 15px 20px;
}

header {
  padding: 20px 30px !important;
  margin-bottom: 1rem;
  background-color: var(--main-sec-bg-color);
  border-radius: var(--main-sec-border);
  border:3px solid   var(--color-secondary-1);

  span {
    text-align: center;
    align-content: center;
  }

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 50px;
    justify-content: space-between;
    align-content: center;
    font-size: 16px;

    .nav-links {
      display: flex;
      column-gap: 10px;
    }
  }
}

.arrows {
  width: 30px !important;
  height: 30px !important;
}

.container-main {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 80dvh 25dvh;
}

.sec.title {
  padding: 20px 10px;
  font-size: 2.2rem;
  grid-column: 1;
  display: flex;
  height: 80%;
  .title {
    text-align: left;
    align-content: end;
    width: 85%;
    margin-bottom: 20%;
  }
}

.sec.img {
  grid-column: 2;
  width: auto;
  overflow: hidden;
  width: 25dvw;
  height: 80%;
  img {
    height: 100% !important;
    width: 100% !important;
    
  }
}

.sec.description {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-self: end;
  height: 40dvh;
  width: 80%;
  span {
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: justify;
    width: 70%;
  }
}

.sec.projects {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 90dvh;
  width: 30dvw;
  overflow-y: scroll;
  .main-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .content-projects {
    border-bottom: 1px black solid;
    width: auto;
    .preview-img img {
      margin-top: 10px;
      width: 100% !important;
      border-radius: 10px;
    }
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.sec.contact {
  grid-column: 2;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: end;
  width: 130%;
  height: 40dvh;
  .contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .contact-content {
    font-size: 3rem;
  }
}

.sec.social-media {
  grid-column: 3;
  align-self: end;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 15dvh;
} 

.page-scroll::-webkit-scrollbar{
  width: 10px;
}
.page-scroll::-webkit-scrollbar-thumb {
  background-color:var(--color-secondary-2);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/*web resposive*/

@media (max-width: 400px) {
  main {
    width: 100dvw;
  }

  .container-main {
    display: flex;
    flex-direction: column;

  }

  .sec {
    padding: 5%;
    max-width: 100% !important;
  }

  header {
    visibility: hidden;
  }

  .title {
    font-size: 2.2rem;
    font-weight: 300;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: normal;
  }

  .sec.title {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 14em;
  }

  .sec.img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .sec.img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--main-sec-border);
  }

  .sec.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 14em;
  }

  .sec.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 10%;
    row-gap: 1em;
    height: 350px;

    .content-projects {
      height: 100%;

      .project-header {
        position: relative;
        height: 20%;
        display: flex;
        justify-content: space-between;

        .name {
          display: inherit;
          align-items: center;
          font-weight: 600;
        }

        .goProyect {
          display: inherit;
          align-items: center;
          height: 100%;

          img {
            height: 50%;
            width: auto;
            object-fit: cover;
          }
        }
      }

      .preview-img {
        position: relative;
        height: 80%;
        width: 100%;
        padding-bottom: 1em;
      }
    }
  }

  .sec.contact {
    display: flex;
    flex-direction: column;
    height: max-content;

    .contact-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 3.5rem;
      font-size: 1rem;

      .header-img {
        height: 100%;
        width: auto;
        display: inherit;
        align-items: center;

        img {
          height: 50%;
        }
      }
    }

    .contact-content {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  .sec.social-media {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }
}